#title {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
  
    color: white;
  }
  .age {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
  }