.wrap {
    height: 100%;
    width: 300px;
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110px;
  }
  .feature {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
    color: white;
  }